In [1]:
import pandas as pd
import re

In [2]:
ids = []
first = []
second = []


with open('data/llama_samples.txt') as f:
    lines = f.readlines()
    
    for i, line in enumerate(lines):
        
        line = re.sub(r'http\S+', '', line, flags=re.MULTILINE) 
        line = re.sub(r"[\([{<>})\]\/\"\']", "", line)
        
        
        splitted_line = line.split('$:$')
        
        for j in range(len(splitted_line)):
            splitted_line[j] = splitted_line[j].strip()
            splitted_line[j] = splitted_line[j].replace('\n', '')
            
        
        
        if splitted_line[1]!='' and splitted_line[2]!='':
            ids.append(int(splitted_line[0]))
            first.append(splitted_line[1])
            second.append(splitted_line[2])
            
            print(splitted_line)

In [3]:
d = {'ids':ids, 'first': first, 'second':second}

train = pd.DataFrame.from_dict(d)
train

,ids,first,second
0,0,"Cheap flights to hong kong,",Cheap flight tickets to hong kong airlines
1,0,"Cheapest flight tickets to hong kong,","Cheap flights to hong kong online,"
2,0,"Tripadvisor for cheap flights,","Cheapest flights to hong kong from your country,"
3,0,"Best deals on cheap flights to hong kong,","Cheap flights to hong kong tripadvisor,"
4,0,"Tripadvisor booking cheap flights,","Booking cheap flights to hong kong,"
...,...,...,...
18655,3999,travel to florence from nice,how do i get from nice to florence
18656,3999,how to get from nice to florence,florence italy train station address
18657,3999,florence train station address,france trains to florence
18658,3999,nice to florence by train,traveling to florence
18659,3999,rome to florence trains,florence italy train

In [4]:
train.to_csv('data/llama_train.csv', index=False)